@import "./settings";
@import "./../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto|ZCOOL+XiaoWei');


h1,
h2,
h3,
h4,
h5 {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 130%;
}

p {
    font-family: 'Roboto'

}
body{
    min-height: 100vh;
}
section {
    &:nth-of-type(1) {
        background-color: aqua;
        .row {
            text-align: center;
            .content {
                box-shadow: 2px 2px 5px grey;
                background-color: white;
            }
        }


    }
    &:nth-of-type(2) {
        .row {
            text-align: center;
        }
    }
    .icon{
        width: 40%;
        height: auto;
    }
}
footer{
    background-color: darkgray;
}